@model SEProjectApp.DataModel.Apartment

@{
    ViewData["Title"] = "Edit";
}

<center>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ApartmentId" />
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-header">Create</div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="ApartmentNo" class="control-label"></label>
                    <input asp-for="ApartmentNo" class="form-control" />
                    <span asp-validation-for="ApartmentNo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BuildingId" class="control-label"></label>
                    <select asp-for="BuildingId" class="form-control" asp-items="ViewBag.BuildingId"></select>
                    <span asp-validation-for="BuildingId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BuildingNo" class="control-label"></label>
                    <input asp-for="BuildingNo" class="form-control" />
                    <span asp-validation-for="BuildingNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</center>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
